@charset "UTF-8";

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body {
    background-color: hsl(47, 88%, 63%);

}	

div#container {
    width: 100vw;
    height: 100vh;
    font-family: Figtree, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

div#card {
    
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    max-width: 375px;
    min-height: 500px;
    max-height: 700px;
    box-shadow: 5px 4px 2px 3px black;
    border-radius: 15px;
}
img {
    border-radius: 15px;
}

.status {
    margin: 20px 0px 7px 0px;
    padding: 7px;
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    color: black;
    font-weight: 900;
}

.datepublished {
    font-weight: 600;
    margin-bottom: 10px;
}

h1 {
    color: hsl(0, 0%, 7%);
    font-weight: 900;
    font-size: 25px;
}

.msg {
    
    margin-top: 15px;
    font-size: 16px;
    color: hsl(0, 0%, 42%);
}

.footer {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    align-items: center;
}
.avatar {
    width: 10%;
    border-radius: 50px;
    border: 1px solid black;
}

.autor {
    font-weight: 800;
}